{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'aboutme/css/index.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kavoon&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="latizq">
        <h1 class="Txt_go">Go!</h1>
        <h1 class="Txt_golat">To the Future</h1>
    </div>
    <div class="centro">
        <div class="latizq2">
            <h1 class="Txt_go">Go!</h1>
            <h1 class="Txt_golat">To the Future</h1>
        </div>
        <div class="world">
            <h1 class="txt1">Hello World!!</h1>
            <div>
    
            </div>
        </div>
        <div class="hello">
            <h1 class="txt1">Hello World!!</h1>
            <div>
                <div class="div2">
                    <p class="txt2"><span class="amarillo">Hey!</span><span> I am Jesus Nuñez</span></p>
                </div>
                <h1 class="txt2 naranja">Dev-Backend</h1>
                <!--<p class="txt2"><span class="amarillo">Hey!</span><span> I am Jesus Nuñez</span></p>
                <h1 class="txt2 naranja">Dev Backend</h1>-->
            </div>
            <div class="div-parrafo">
                <h1 class="txt4">3traisus</h1>
                <p class="parrafo" id="parrafo"> 
                    Gracias por abordar este portafolio web,
                    <br>donde te contare un poco de mi, mis habilidades y 
                    <br>algunos proyectos que he estado realizando 
                    <br>ademas brindarte algunas redes sociales 
                    <br>donde podras contactarme. 
                </p>
            </div>
            <div class="redes-sociales">
                <div class="cv">
                    <p>Descargar Cv</p>
                </div>
                <div class="circulo tel" id="tel">
                </div>
                <div class="circulo git" id="git">
    
                </div>
                <div class="circulo linked" id="linked">
                    
                </div>
            </div>
        </div>
        <div class="about">
            <h1>About me</h1>
            <p>
                Soy Jesus Eduardo Nuñez Ramirez!! 
                <br>Estoy terminando mis estudios universitarios como Ing. Sistemas <br>Computacionales, me facina todo lo que tenga que ver con el mundo de la programacion y las redes neuronales. Me gusta dar lo mejor de mi en lo que hago.<br>Filosofia de trabajo: "Si tienes una idea, llévala a cabo. Si no cuentas con el conocimiento necesario, ya sabes que hacer"
    
            </p>
        </div>
        <div class="project">
            <h1 class="titulo">Projects</h1>
            <div class="proy">
                <div class="cab">
                    <h1>Nombre del proyecto</h1>
                    <div class="circulo url">
    
                    </div>
                    <div class="circulo git-url">
    
                    </div>
                </div>
                
                <p>
                    Descripcion del proyecto que pondras aqui
                </p>
            </div>
            <div class="proy">
                <div class="cab">
                    <h1>Nombre del proyecto</h1>
                    <div class="circulo url">
    
                    </div>
                    <div class="circulo git-url">
    
                    </div>
                </div>
                <p>
                    Descripcion del proyecto que pondras aqui
                </p>
            </div>
        </div>
        <div class="skill">
            <h1>Skills</h1>
            <div class="tablero">
                <div class="topp">
                        <h2 class="txtskill naranja2">Front</h2>
                        <div class="circulo icon_html">
    
                        </div>
                        <div class="circulo icon_css">
    
                        </div>
                        <div class="circulo icon_js">
    
                        </div>
                </div>
                <div class="pixelart">
                    <div>
    
                    </div>
                </div>
                <div class="rightt">
                    <div class="div">
                        <h2 class="txtskill amarillo2">DB</h2>
                        <div class="circulo icon_sql">
    
                        </div>
                        <div class="circulo icon_mongo">
    
                        </div>
                    </div>
                    <div class="div">
                        <h2 class="txtskill rojo2">Framework</h2>
                        <div class="circulo icon_dj">
    
                        </div>
                    </div>
                    <div class="div">
                        <h2 class="txtskill amarillo2">Lib</h2>
                        <div class="circulo icon_boostrap">
    
                        </div>
                        <div class="circulo icon_gsap">
    
                        </div>
                    </div>
                </div>
                <div class="bot">
                    <h2 class="txtskill naranja2">Back</h2>
                    <div class="circulo icon_py">
    
                    </div>
                    <div class="circulo icon_java">
    
                    </div>
                    <div class="circulo icon_c">
    
                    </div>
                </div>
                <div class="allEle">
                    <div class="ele">
                        <h2 class="">Front</h2>
                        <div class="circulo icon_html">
    
                        </div>
                        <div class="circulo icon_css">
    
                        </div>
                        <div class="circulo icon_js">
    
                        </div>
                        
                    </div>
                    <div class="ele">
                        <h2 class="">DB</h2>
                        <div class="circulo icon_sql">
    
                        </div>
                        <div class="circulo icon_mongo">
    
                        </div>
                    </div>
                    <div class="ele">
                        <h2 class="">Framework</h2>
                        <div class="circulo icon_dj">
    
                        </div>
                    </div>
                    <div class="ele">
                        <h2 class="">Lib</h2>
                        <div class="circulo icon_boostrap">
    
                        </div>
                        <div class="circulo icon_gsap">
    
                        </div>
                    </div>
                    <div class="ele">
                        <h2 class="">Back</h2>
                        <div class="circulo icon_py">
    
                        </div>
                        <div class="circulo icon_java">
    
                        </div>
                        <div class="circulo icon_c">
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="latder">
        <div class="cv">
            <p>Descargar CV</p>
            
        </div>
    </div>
    <script src="/js/index.js"></script>
</body>
</html>